block content
    div.container.not_found_page
      div.row
        div.main
          div.right
            div.header
              div.top
                span 404
              div.top2
                span error
            div.text
              div.top
                span Oh no! It looks like some of our wires got mixed up. </br> Let’s go back and try this again. 
              div.top2
                a(href="/app")
                  span Back to app
          div.left
            div.gif
              img(src="/static/images/404.gif")