fieldset .two-coloumn-field:nth-child(even) {
  float: right;
  padding-left: 1em;
  width: 50%;
}

fieldset .two-coloumn-field:nth-child(odd) {
  float: left;
  padding-right: 1em;
  width: 50%;
}

form > p {
  padding: 1em;
}

.form-legend {
  display: contents;
}

.tooltip-hint {
  display: inline;
  padding: 2px;
}

.form-tooltip {
  z-index: 10000 !important;
  width: 400px;
  pointer-events: auto !important;
}

.form-tooltip:hover {
  visibility: visible !important;
  opacity: 1 !important;
}

.tooltip-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.modal-body {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.fixed-bottom-footer.modal-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
}

/* workaround see https://github.com/ajaxorg/ace/issues/2963 */
.ace_text-input {
  position: absolute !important;
}

/*** MEDIA QUERIES ****/

@media only screen and (max-width: 600px) {
  .form-group.field.field-string.two-coloumn-field {
    width: 100%;
    padding: 0px;
  }
}

/*** MEDIA QUERIES ****/
